# EDA 

This notbook examines : https://www.kaggle.com/code/ambrosm/amex-eda-which-makes-sense#AMEX-EDA-which-makes-sense-%E2%AD%90%EF%B8%8F%E2%AD%90%EF%B8%8F%E2%AD%90%EF%B8%8F%E2%AD%90%EF%B8%8F%E2%AD%90%EF%B8%8F
- Labels
- Data 
- Counting Statements per customer
- numercial / binary features 
- Random Noise

In [2]:
import pandas as pd
import scipy 
import matplotlib.pyplot as plt 
import numpy as np

In [ ]:
train_labels = pd.read_csv('./raw_data/train_labels.csv')

print(f"Number of Total Id : {}")

                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2  00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3  000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4  00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0