# EDA 

This notbook examines : https://www.kaggle.com/code/ambrosm/amex-eda-which-makes-sense#AMEX-EDA-which-makes-sense-%E2%AD%90%EF%B8%8F%E2%AD%90%EF%B8%8F%E2%AD%90%EF%B8%8F%E2%AD%90%EF%B8%8F%E2%AD%90%EF%B8%8F
- Labels
- Data 
- Counting Statements per customer
- numercial / binary features 
- Random Noise

In [2]:
import pandas as pd
import scipy 
import matplotlib.pyplot as plt 
import numpy as np

In [22]:
# Load Files
try:
    print("Trying to load training labels....")
    train_labels = pd.read_csv('./raw_data/train_labels.csv')
    print("Loaded Training labels...")
    print(f"Number of Total Id : {len(train_labels)}")
    print(f"Shapes of Train Lables : {train_labels.shape}")
    print("Show Table")
    print(train_labels.head(5))
except AttributeError as e:
    print(f"Training labels failed to load as {e}!")

Trying to load training labels....
Loaded Training labels...
Number of Total Id : 458913
Shapes of Train Lables : (458913, 2)
Show Table
                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2  00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3  000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4  00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0

In [21]:
# Check for missing and duplicated Customer ID
# Logically only one person could go default per customer. So it make sense for only 1 customer ID!
try:
    print("Trying to Checked if any label duplicated or na....")
    print(f"Na values in both columns : {train_labels.isna().any().any()}")
    print(f"Duplicated in both columns : {train_labels.customer_ID.duplicated().any()}")
    print("Checked if any label duplicated or na....")
except ValueError as e:
    print("Something Values to load {e}")

Trying to Checked if any label duplicated or na....
Na values in both columns : False
Duplicated in both columns : False
Checked if any label duplicated or na....

In [ ]:
label_stats = pd.DataFrame({
    'absolute': train_labels.target.value_counts(),
    'relative':  train_labels.target.value_counts() / len(train_labels.target),
    'Absolute upscale' : [train_labels.target.value_counts()[0] * 20, train_labels.target.value_counts()[1]],
    'Relative upscale' : [(train_labels.target.value_counts()[0] * 20) / (train_labels.target.value_counts()[0] * 20 + train_labels.target.value_counts()[1]), (train_labels.target.value_counts()[1] / (train_labels.target.value_counts()[0] * 20 + train_labels.target.value_counts()[1]))]

})

label_stats

        absolute  relative  Absolute upscale  Relative upscale
target
0         340085  0.741066           6801700           0.98283
1         118828  0.258934            118828           0.01717

In [48]:
# import feathere data
try:
    train = pd.read_feather('./data/feather_cleaned_data/train_data.ftr')
    test = pd.read_feather('./data/feather_cleaned_data/test_data.ftr')
    with pd.option_context("display.min_rows", 6):
        display(train)
        display(test)
except:
    print("Something when loading the file when wrong!")

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938477,0.001734,0.008728,1.006836,0.009224,0.124023,0.008774,0.004707,...,NaN,NaN,0.002426,0.003706,0.003819,NaN,0.000569,0.000610,0.002674,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936523,0.005775,0.004925,1.000977,0.006153,0.126709,0.000798,0.002714,...,NaN,NaN,0.003956,0.003166,0.005032,NaN,0.009575,0.005493,0.009216,0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954102,0.091492,0.021652,1.009766,0.006817,0.123962,0.007599,0.009422,...,NaN,NaN,0.003269,0.007328,0.000427,NaN,0.003429,0.006985,0.002604,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5531448,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2018-01-06,0.982910,0.444092,0.013153,0.815430,0.003456,0.100525,0.002111,0.012344,...,NaN,NaN,0.009956,0.009995,0.001088,NaN,0.005692,0.006775,0.005566,0
5531449,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2018-02-06,0.969727,0.442627,0.009857,1.003906,0.005116,0.101807,0.009933,0.008575,...,NaN,NaN,0.005543,0.006565,0.009880,NaN,0.008125,0.001168,0.003983,0
5531450,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2018-03-14,0.981934,0.002474,0.000077,0.992676,0.000809,0.119141,0.003286,0.014091,...,NaN,NaN,0.007317,0.002888,0.006207,NaN,0.005112,0.003183,0.001914,0

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-02-19,0.631348,0.001912,0.010727,0.814453,0.007545,0.168701,0.009972,0.002348,...,NaN,NaN,NaN,NaN,0.004669,NaN,NaN,NaN,0.008278,NaN
1,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-03-25,0.586914,0.005276,0.011024,0.811035,0.001817,0.241333,0.000166,0.009132,...,NaN,NaN,NaN,0.000142,0.004940,0.009018,NaN,0.003695,0.003754,0.001460
2,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-04-25,0.608887,0.003326,0.016388,1.004883,0.000114,0.267090,0.004196,0.004192,...,NaN,NaN,NaN,0.000074,0.002113,0.004658,NaN,0.003155,0.002155,0.006481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11363759,fffffa7cf7e453e1acc6a1426475d5cb9400859f82ff61...,2019-02-17,0.459961,0.005245,0.004421,0.818848,0.000665,NaN,0.000559,0.007057,...,NaN,NaN,NaN,0.007797,0.007740,0.008194,NaN,0.009384,0.003593,0.005604
11363760,fffffa7cf7e453e1acc6a1426475d5cb9400859f82ff61...,2019-03-19,0.460449,0.002663,0.009529,0.816406,0.009026,NaN,0.008530,0.006851,...,NaN,NaN,NaN,0.007195,0.008453,0.004776,NaN,0.006199,0.005604,0.005970
11363761,fffffa7cf7e453e1acc6a1426475d5cb9400859f82ff61...,2019-04-18,0.454590,0.004402,0.000346,0.810059,0.008736,NaN,0.000937,0.003494,...,NaN,NaN,NaN,0.003399,0.009590,0.006187,NaN,0.007675,0.006443,0.003143

In [ ]:
# Finding test and training periods
print(f"The train data period is between {train.S_2.min()} and {train.S_2.max()}")
print(f"The test data period is between {test.S_2.min()} and {test.S_2.max()}")

# Observation the trainin data comes from different time period!

The train data period is between 2017-03-01 00:00:00 and 2018-03-31 00:00:00
The test data period is between 2018-04-01 00:00:00 and 2019-10-31 00:00:00

In [64]:
print(f"{train.memory_usage().sum() / 1e9:.2e}")

2.15e+00